node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

Project Part 1/.gradle/
Project Part 1/.idea/
Project Part 1/app/build/
Project Part 1/local.properties
.idea/modules.xml
.idea/BraGuia.iml
.idea/vcs.xml
