*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app-crawler/README
app-crawler/debug.keystore
app-crawler/crawler_stubapp_androidx.apk
app-crawler/crawler_app.apk
app-crawler/crawl_launcher.jar
.gitignore
signing_keystore_base64
